body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container-stopwatch {
  min-width: 600px;
  display: flex;
  flex-direction: column;
  align-self: center;
  /* border: solid;
  border-radius: 10px; */
}

.counter-div {
  display: flex;
  justify-content: center;
}

.buttons-div{
  display: flex;
  flex-direction: row;
  justify-content:center;
  /* border: solid; */
}



button {
  min-width: 70px;
  border-radius: 8px;
  border: none;
  margin: 10px;
  background-color:dodgerblue;
  color: white;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
}

.laps-div{
  /* border: solid; */
  text-align: center;
  display: flex;
  justify-content: center;
}

.p-counter {
  font-size: 150%;
  /* color: dodgerblue; */
}

th, td {
  width: 200px;
  border-bottom: 1px solid dodgerblue;
}